@import "../../public/css/variables.pcss";

.input {
  margin-bottom: 14px;

  span {
    display: block;
    font-size: 13px;
    padding: 5px 0;
    font-family: var(--text);
    color: #5E6C84;
  }

  input {
    border: 2px solid #eee;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 3px;
    font-family: var(--text);
    outline: none;

    &:focus {
      border-color: #99d8ee;
    }
  }
}