@import "../../public/css/variables.pcss";

.button {
  background-color: var(--background-button);
  padding: 10px 20px;
  font-family: var(--text);
  color: #fff;
  font-size: 14px;
  border-radius: 1px;
  border: 0;
  position: relative;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    opacity: .9;
  }

  &:active {
    top: 1px;
  }
}