@import "../../public/css/variables.pcss";

.menu {
  width: 64px;
  min-width: 64px;
  background-color: var(--background-menu);
  padding: var(--padding-menu) 0;
  position: relative;
  z-index: 5;

  .logo {
    background-color: var(--background-menu-hover);
    width: var(--size-menu-button);
    height: var(--size-menu-button);
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto 20px;
  }
}
